table {
    border-width: 1px;
    border-color: #F7F7F7;
    border-style: solid;
    border-radius: 16px;
    border-spacing: 0px;
    box-shadow: 0 3px 3px 0 #E1E1E1;
    margin-bottom: 50px;
    width: 50%;
  }

 